<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Suggestion</title>
    <link rel="stylesheet" href="styles/major.css">
  </head>
  <body>
    

  <form method= "POST" class="container" action="https://formspree.io/alyssaroach@mec.science"></form>
    <h1>Send Email</h1>

  <label for="email">Email:</label>
  </br>
  <input type="email" name="name" placeholder="Your email">
  </br> 
  <label for="name">Name:</label>
  </br>
  <input type="name" name="name" placeholder="Your Name">
  </br>
  <textarea name="name" placeholder="Test Message"></textarea>
  </br>
  <button type="submit">Send</button>
  </form>



  
    <div class="">
      <script src ="major.js"></script>
    </div>
  </body>
</html>
