<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Major Clarifier</title>
    <link rel="stylesheet" href="styles/major.css">
</head>

<body>
    
    <div id="img">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
    </div>

    <form method="POST" action="/" name="tester" class="container">
        <label for="majors" class="fun">Major: </label>
        <select name="majors">
            {% for i in majors %}
            <option value={{i}} class="lun">{{i}}</option>
            {% endfor %}
        </select>
        <br />
        <br />
        <label for="other" class="fun">Other: </label>
    
        <input type="text" name="other" />
        <br />
        <label for="newelement" class="fun">Class: </label>
        <input type="text" name="newelement" />
       
        <label for="gpa" class="fun">GPA: </label>
        <input type="text" name="gpa" />
        <input type="button" class="button" name="add" value="+" onclick="addClass2()" />
        <br />
        <input type="submit" class="but" name="submit" value="Submit" />
    </form>

    <ul>
        {% for i in elements %}
        <li>
            {{i}}
        </li>
        {% endfor %}
    </ul>
    
    <script src="/scripts/script.js"></script>
</body>
</html>