<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Code</title>
</head>
<body>
    <form method="POST" action="/" name="tester">
        <label for="majors">Major: </label>
        <select name="majors">
            {% for i in majors %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
        <label for="other">Other: </label>
        <input type="text" name="other" />
        <br />
        <label for="newelement">Class: </label>
        <input type="text" name="newelement" />
        <label for="gpa">GPA: </label>
        <input type="text" name="gpa" />
        <input type="button" name="add" value="+" onclick="addClass()" />
        <br />
        <input type="submit" name="submit" value="Submit" />
    </form>
    <script src="/scripts/script.js"></script>
</body>
</html>