<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Major Clarifier</title>
    <link rel="stylesheet" href="styles/major.css">
  </head>
  <body>

  <div id="img">
  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
  </div>
    <form action="" class="container" method="POST">
      
      
    <h1>
      Major Clarifier
    </h1>
      <label for="comment">How Many Credits Do You Have:</label>
      <br/>
      <input type= "textarea" name= "comment" />
      <br/>
      <label for ="comment2">What is your GPA:</label>
      <br/>
      <input type="textarea" name="comment2" />
      <br/>
      <label for="comment3">What Are Your Classes:</label>
      <br/>
      <input type="textarea" name="comment3" />
      <input type ="button" name ="add" value="+" oneclick="addClass()">
      <br/>
      <label for="major">What Is Your Major: </label>
      <select name="major">
        {% for i in major%}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
      </select>
      <br/>
      <input type="textarea" name="major" />
      <br/>
      <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Major Clarifier</title>
    <link rel="stylesheet" href="styles/major.css">
  </head>
  <body>

  <div id="img">
  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
  </div>

  <h1>
    Major Clarifier
  </h1>

  <form method="POST" action="" name="tester" class="container">
    <label for="majors">Major: </label>
    <select name="majors">
        {% for i in majors %}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
    </select>
    <label for="other">Other: </label>
    <input type="text" name="other" />
    <br />
    
    <label for="comment">How Many Credits Do You Have:</label>
    <br/>
    <input type= "textarea" name= "comment" />
    <br/>
    <label for ="comment2">What is your GPA:</label>
    <br/>
    <input type="textarea" name="comment2" />
    <br/>
    <label for="comment3">Class: </label>
    <input type="text" name="comment3" />

    <label for="newelement">Class: </label>
    <input type="text" name="newelement" />
    <label for="gpa">GPA: </label>
    <input type="text" name="gpa" />
    <input type="button" name="add" value="+" onclick="addClass2()" />
    <br />
    <input type="submit" name="submit" value="Submit" />
</form>
<script src="/scripts/script.js"></script>
    <!-- <form action="" class="container" method="POST">
      
      
    
      
      <label for="comment">How Many Credits Do You Have:</label>
      <br/>
      <input type= "textarea" name= "comment" />
      <br/>
      <label for ="comment2">What is your GPA:</label>
      <br/>
      <input type="textarea" name="comment2" />
      <br/>
      <label for="comment3">Class: </label>
      <input type="text" name="comment3" />
      <input type="button" name="add" value="+" onclick="addClass()"/>
      <br/>
      <input type="textarea" name="comment3" />
      <input type ="button" name ="add" value="+" oneclick="addClass()">
      <br/>
      <label for="major">What Is Your Major: </label>
      <br/>
      <input type="textarea" name="major" />
      <br/>
      <label for="majors">Major: </label>
        <select name="majors">
            {% for i in majors %}
            <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
        <label for="other">Other: </label>
        <input type="text" name="other" />
        <br />
        <label for="newelement">Class: </label>
        <input type="text" name="newelement" />
        <label for="gpa">GPA: </label>
        <input type="text" name="gpa" />
        <input type="button" name="add" value="+" onclick="addClass2()" />
        <br />
        <input type="submit" name="submit" value="Submit" />
      </label>

    </form>
   {%for i in comment3%}
    <li>
        {{i[1]}}
      </li>
    {% endfor %} 
    <script src= "major.js"></script>
    <script src="script.js"></script>
  </body>
</html>
      </label>

    </form>
    <script src= "major.js"></script> -->
  </body>
</html>
