<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Major Clarifier</title>
    <link rel="stylesheet" href="styles/major.css">
  </head>
  <body>

    <h1>
        Major Clarifier
    </h1>

    <div id="bg">
  <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
  </div>



    <form action="" method="POST">
      <label for="comment">How Many Credits Do You Have:</label>
      <br />
      <input type= "textarea" name= "comment" />
      <br />
      <label for ="comment2">What is your GPA:</label>
      <br />
      <input type="textarea" name="comment2" />
      <br />
      <label for="comment3">What Are Your Classes:</label>
      <br />
      <input typr="textarea" name="comment3" />
      <br />
      <label for="comment4">What Is Your Major:</label>
      <br />
      <input type="textarea" name="comment4" />
      <br /></br>
      <input type="submit" value+"Enter"
    </form>


    <script src= "major.js"></script>
  </body>
</html>
