<!DOCTYPE html>
<html lang="en" id="back">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transcript</title>
    <link rel="stylesheet" href="styles/major.css">
</head>
<body>
<!--
    <div id="img">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
    </div>
    -->
 <div id="gun">
    <h1 id="head">Official Transcript
    
       <div id="id">
        
        <img src="https://cdn3.vectorstock.com/i/thumb-large/99/12/education-search-college-university-logo-vector-4059912.jpg" id="image">
        
        </div>
   
    </h1>
</div>
    
<table>
    <tr>
      <th>Student Info</th>
      <th>Academic Summary</th>
    </tr>
    
    <tr>
        <td>
            <ul>
                 <li>
            <div class="maj">
                Major:
            </div>
            <div class="maj">
                {{major}}
            </div>    
                </li>
             </ul>
         </td>
      


         
      <td>
        <ul>
                <li>
                        <div class="maj">
                            Classes Completed: 
                        </div>
                        <div class="maj">
                            {{count}}
                        </div>    
                    </li>
        </ul>
      </td>
    </tr>
<tr>
    <td>
            <ul>
                    <li>
                            <div class="maj"> 
                                Status:
                            </div>
                            <div class="maj">
                                {{status}}
                            </div>    
                        </li>   
            </ul>
    </td>

    <td>
<ul>
        <li>
                <div id="run" class="maj">
                    Classes Failed:
                </div>
                <div class="maj">
                    {{failed}}
                </div>    
            </li>

</ul>

    </td>
</tr>

<tr>

<td>
<ul>
        <li>
                <div class="maj">
                    Class List:
                </div>
                <div class="maj">
                    <ul>
                    {% for i in classes %}
                        <li class={{i[2]}}>{{i[0]}} {{i[1]}}</li>
                    {% endfor %}
                    </ul>
                </div>    
            </li>
</ul>
</td>

<td>
       <ul>
    
    <li>
                <div id="fun" class="maj">
                    Classes Passed:
                </div>
                <div class="maj">
                    {{passed}}
                </div>    
            </li>
            </ul>
        </td>


</tr>

</table>
    
</br>
</br>
    
            <div id="sam" class="maj">
                Suggestions:
            </div>
            
            <ul>
            <li>
            <div class="maj"> 
                {{suggestions}}
            </div>
            </li>
            </ul>

        
    
    <div class="maj" id="li">
        If you would like a copy of this transcript emailed to you, please click this link
        <a href="/email">Email Me</a>
    </div>
</body>
</html>