<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transcript</title>
    <link rel="stylesheet" href="styles/major.css">
</head>
<body>

    <div id="img">
        <img src="https://i.kinja-img.com/gawker-media/image/upload/s--7rxeih2j--/c_scale,f_auto,fl_progressive,q_80,w_800/k54v9hraig7aab9xky7k.jpg" alt="">
    </div>
    
    <h1>Transcript</h1>

    <ul>
        <li>
            <div>
                Major:
            </div>
            <div>
                {{major}}
            </div>    
        </li>
        <li>
            <div>
                Status:
            </div>
            <div>
                {{status}}
            </div>    
        </li>
        <li>
            <div>
                Classes Completed: 
            </div>
            <div>
                {{count}}
            </div>    
        </li>
        <li>
            <div id="fun">
                Classes Passed:
            </div>
            <div>
                {{passed}}
            </div>    
        </li>
        <li>
            <div id="run">
                Classes Failed:
            </div>
            <div>
                {{failed}}
            </div>    
        </li>
        <li>
            <div>
                Class List:
            </div>
            <div>
                <ul>
                {% for i in classes %}
                    <li class={{i[2]}}>{{i[0]}} {{i[1]}}</li>
                {% endfor %}
                </ul>
            </div>    
        </li>
        <li>
            <div>
                Suggestions:
            </div>
            <div>
                {{suggestions}}
            </div>
        </li>

        <div>
            If you would like a copy of this transcript emailed to you, please click this link <a href="/email">Email Me</a>
        </div>
    </ul>
</body>
</html>